---
layout: default
---

{% capture usage_md %}{% include usage.md %}{% endcapture %}
{{ usage_md | markdownify }}

<h2>Icons</h2>

<div class="preview-cols preview-glyphs row">
	{% for icon in site.data.fl.icons %}
		<div class="preview-col col-lg-3 col-md-3 col-sm-4 col-xs-6">
			<div>
				<span class="preview-icon"><i class="fl-{{ icon }}"></i></span>
				<span class="preview-code vertical-align">fl-{{icon}}</span>
			</div>
		</div>
	{% endfor %}
</div>

<h2>Font Sizes</h2>

<p>
	The font size can be changed by using fl-# where # can be: 12, 14, 16, 18, 21, 24, 36, 48, 60, or 72.
</p>

<div class="preview-cols preview-glyphs row">
<div class="preview-col col-lg-3 col-md-3 col-sm-4 col-xs-6">
	<div>
		<span style="margin-right: 10px;"><i class="fl-tux fl-14"></i></span>
		<span class="preview-code vertical-align">"fl-tux fl-14"</span>
	</div>
</div>
<div class="preview-col col-lg-3 col-md-3 col-sm-4 col-xs-6">
	<div>
		<span style="margin-right: 10px;"><i class="fl-tux fl-21"></i></span>
		<span class="preview-code vertical-align">"fl-tux fl-21"</span>
	</div>
</div>
<div class="preview-col col-lg-3 col-md-3 col-sm-4 col-xs-6">
	<div>
		<i class="fl-tux fl-48"></i>
		<span class="preview-code vertical-align">"fl-tux fl-48"</span>
	</div>
</div>
<div class="preview-col col-lg-3 col-md-3 col-sm-4 col-xs-6">
	<div>
		<i class="fl-tux fl-72"></i>
		<span class="preview-code vertical-align">"fl-tux fl-72"</span>
	</div>
</div>
</div>
